#set( $_ = ${DOLLAR} )
##--------------------------------------------------------------------------------------------
'use strict';

/* Service for ${entity.name} */

myAppServices.service('${entity.name}Service', ['${_}scope', function(${_}scope) {
    
}]);
