#set( $_ = "$" )
		<h3>
			Welcome
		</h3>
      
		<ul class="entity">
#foreach( $entity in $selectedEntities )
            <li><a href="#/${entity.name.toLowerCase()}">${entity.name}</a></li>
#end
	    </ul>
