#set( $_ = "$" )
		<h3>
			{{ 'welcome' | translate }}
		</h3>
      
		<ul class="entity">
#foreach( $entity in $selectedEntities )
            <li><a href="#/${entity.name.toLowerCase()}">{{ '${entity.name}' | translate }}</a></li>
#end
	    </ul>
